@import 'tailwindcss';

:root {
  --background: #191919;
  --foreground: #e0e0e0;
  --primary: #17bb81;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply font-mono;
  }
}
